{% load static %}


    <!-- Class Start -->
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="text-center pb-2">
                <p class="section-title px-5"><span class="px-2">Mavjud Guruhlar</span></p>
                <h1 class="mb-4">Farzandingiz uchun guruhlar </h1>
            </div>
            <div class="row">
                {% for class in classes %}

                <div class="col-lg-4 mb-5">
                    <div class="card border-0 bg-light shadow-sm pb-2">
                        <img class="card-img-top mb-2" src="{{ class.photo.url }}" alt="{{ class.name }}">
                        <div class="card-body text-center">
                            <h4 class="card-title">{{ class.name }}</h4>
                            <p class="card-text">{{ class.description|safe }}</p>
                        </div>
                        <div class="card-footer bg-transparent py-4 px-5">
                            <div class="row border-bottom">
                                <div class="col-6 py-1 text-right border-right"><strong>Bola yoshi</strong></div>
                                <div class="col-6 py-1">{{ class.ages }}</div>
                            </div>
                            <div class="row border-bottom">
                                <div class="col-6 py-1 text-right border-right"><strong>Joylar soni</strong></div>
                                <div class="col-6 py-1">{{ class.seats }}</div>
                            </div>
                            <div class="row border-bottom">
                                <div class="col-6 py-1 text-right border-right"><strong>Guruh vaqti</strong></div>
                                <div class="col-6 py-1">{{ class.time }}</div>
                            </div>
                            <div class="row">
                                <div class="col-6 py-1 text-right border-right"><strong>Narxi</strong></div>
                                <div class="col-6 py-1">{{ class.price }}</div>
                            </div>
                        </div>
                        <a href="{% url 'booking' class.pk %}" class="btn btn-primary px-4 mx-auto mb-4">Tanlash</a>
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </div>
    </div>
    <!-- Class End -->

