{% load static %}

    <!-- Navbar Start -->
    <div class="container-fluid bg-light position-relative shadow">
        <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0 px-lg-5">
            <a href="" class="navbar-brand font-weight-bold text-secondary" style="font-size: 50px;">
                <i class="flaticon-043-teddy-bear"></i>
                <span class="text-primary">Kichkintoy</span>
            </a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav font-weight-bold mx-auto py-0">

                    <a href="{% url 'home' %}" class="nav-item nav-link active">Asosiy</a>
                    <a href="{% url 'about' %}" class="nav-item nav-link">Biz haqimizda</a>
                    <a href="#" class="nav-item nav-link">Guruhlar</a>
                    <a href="#" class="nav-item nav-link">Tarbiyachilar</a>
                    <a href="#" class="nav-item nav-link">Rasmlar</a>
                    
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Yangiliklar</a>
                        <div class="dropdown-menu rounded-0 m-0">
                            <a href="blog.html" class="dropdown-item">Blog Grid</a>
                            <a href="single.html" class="dropdown-item">Blog Detail</a>
                        </div>
                    </div>
                    <a href="contact.html" class="nav-item nav-link">Aloqa</a>
                </div>
                <a href="{% url 'admin' %}" class="btn btn-primary px-4">🚩 Kirish </a>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->
