
{% extends 'base.html' %}
{% load static %}


{% block activ_title %}
<a href="{% url 'home' %}" class="nav-item nav-link ">Asosiy</a>
<a href="{% url 'about' %}" class="nav-item nav-link ">Biz haqimizda</a>
<a href="{% url 'class' %}" class="nav-item nav-link ">Guruhlar</a>
<a href="{% url 'team' %}" class="nav-item nav-link active">Bizning jamoa</a>
<a href="{% url 'galery' %}" class="nav-item nav-link ">Rasmlar</a>
<a href="{% url 'article' %}" class="nav-item nav-link " >Yangiliklar</a>

<a href="{% url 'contact' %}" class="nav-item nav-link">Aloqa</a>
{% endblock activ_title %}

{% block content %}


    <!-- Team Start -->
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="text-center pb-2">
                <p class="section-title px-5"><span class="px-2">Bizni oilamiz</span></p>
                <h1 class="mb-4">Bizning jamoamiz a'zolari bilan tanishing</h1>
            </div>
            <div class="row">
                {% for teacher in teachers %}
                <div class="col-md-6 col-lg-3 text-center team mb-5">
                    <div class="position-relative overflow-hidden mb-4" style="border-radius: 100%;">
                        <img class="img-fluid w-100" src="{{ teacher.photo.url }}" alt="{{ teacher.name }}" >
                        <div
                            class="team-social d-flex align-items-center justify-content-center w-100 h-100 position-absolute">
                            <a class="btn btn-outline-light text-center mr-2 px-0" style="width: 38px; height: 38px;"
                                href="#"><i class="fab fa-telegram-plane"></i></a>
                            <a class="btn btn-outline-light text-center mr-2 px-0" style="width: 38px; height: 38px;"
                                href="#"><i class="fa fa-phone"></i></a>
                            <a class="btn btn-outline-light text-center px-0" style="width: 38px; height: 38px;"
                                href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <h4>{{ teacher.name }}</h4>
                    <p>{{ teacher.age }} yosh | {{ teacher.work_time }} <br>
                    <i>{{ teacher.job_name }}</i></p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Team End -->


    <!-- Testimonial Start -->
    <div class="container-fluid py-5">
        <div class="container p-0">
            <div class="text-center pb-2">
                <p class="section-title px-5"><span class="px-2">Izohlar</span></p>
                <h1 class="mb-4">Maktabgacha ta'lim tashkilotimiz haqidagi qaynoq fikrlar!</h1>
            </div>
            <div class="owl-carousel testimonial-carousel">
                {% for izoh in izohlar %}
                <div class="testimonial-item px-3">
                    <div class="bg-light shadow-sm rounded mb-4 p-4">
                        <h3 class="fas fa-quote-left text-primary mr-3"></h3>
                        {{ izoh.description|safe }}
                    </div>
                    <div class="d-flex align-items-center">
                        <img class="rounded-circle" src="{{ izoh.photo.url }}" style="width: 70px; height: 70px;" alt="{{ izoh.name }}">
                        <div class="pl-3">
                            <h5>{{ izoh.name }}</h5>
                            <i>{{ izoh.job }}</i>
                        </div>
                    </div>
                </div>
                {% endfor %}



            </div>
        </div>
    </div>
    <!-- Testimonial End -->


    {% endblock content %}
